body {
    font-family: 'Work Sans',
    sans-serif;
}

.navbar .nav-item {
    margin-right: 30px;
    font-weight: 300;
}

.nav-item.active a {
    color: #161616 !important;
    font-weight: 600;
}

.nav-link span {
    color: #141414 !important;
    font-weight: 600;
}

/* Jumbotron */

.jumbotron {
    height: 620px;
    background-image: url(../img/bg-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 30px;
}

.jumbotron span {
    color: #01084e;
}

.jumbotron .row {
    height: 500px;
}

/* jumbotron */

/* facility */
 
.facility .panel-info {
    margin-top: -80px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
}

/* facility */

/* product */

.figure:hover {
    border: 0.5px solid rgb(190, 190, 190);
}

.figure .figure-caption{
    padding-left: 10px;
}

/* product */
.artic {
    margin-bottom: 150px;
}

.artikel {
    border: 0px;
}

.artikel img {
    height: 250px;
    width: 600px;
}

.content a {
    color: black;
}

.content a:hover {
    color: rgb(100, 0, 0);
}

/* footer */
.footer {
   background-color: #171717;
}


.footer .nav a {
    color: rgb(216, 216, 216);
    font-weight: 300;
    font-size: 12px;
}

/* price list */
.jum-price {
    background-image: none;
    height: 200px;
}

/* check-order */
.jum-check {
    background-image: none;
    height: 300px;
}

.check-order {
    margin-top: 150px;
    margin-bottom: 150px;
}

